/* fraunces-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/fraunces-v31-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* fraunces-900 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/fraunces-v31-latin-900.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* barlow-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/barlow-v12-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* barlow-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Barlow";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/barlow-v12-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
.btn {
  display: inline-block;
  border: none;
  font-size: 1.8rem;
  line-height: 2.5rem;
  padding-top: 1.6rem;
  padding-bottom: 1.6rem;
  background-color: #0e8784;
  color: #fefcf7;
  font-family: "Fraunces";
  font-weight: 900;
  transition: 0.3s;
  border-radius: 6px;
}
.btn:hover {
  background-color: #66d2cf;
}

.footer {
  background-color: #2c343e;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4.7rem 8.5rem;
}

.footer-nav {
  display: flex;
  gap: 33px;
}

.footer-nav__item {
  list-style-type: none;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 1px;
  font-weight: 700;
  transition: 0.3s;
}

.footer-nav__item__link {
  color: #83888f;
}
.footer-nav__item__link:hover {
  color: #fefcf7;
}

.footer__social-link {
  display: flex;
  gap: 2.4rem;
}

@media screen and (max-width: 780px) {
  .footer {
    flex-direction: column;
    gap: 3.2rem;
    padding-top: 5.4rem;
  }
}
@media screen and (max-width: 520px) {
  .footer-nav {
    flex-direction: column;
    text-align: center;
  }
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4.3rem 0;
}

.sitenav__menu {
  display: flex;
  gap: 3.3rem;
}

.sitenav__item {
  text-transform: uppercase;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 1px;
  font-weight: 700;
  transition: 0.3s;
}

.sitenav__link {
  color: #83888f;
}
.sitenav__link:hover {
  color: #333d4b;
}

.sitenav__hamburger {
  display: none;
}

@media screen and (max-width: 670px) {
  .sitenav {
    display: none;
  }
  .sitenav__hamburger {
    display: block;
  }
}
.about {
  background-image: url(../images/about/desktop/image-hero-whitecup.jpg);
  background-position: center;
  background-size: cover;
  padding: 13.7rem 0 13.7rem 8.5rem;
  border-radius: 15px;
}

.about__info {
  max-width: 44.5rem;
  width: 100%;
}

.about__info__title {
  font-size: 4rem;
  line-height: 4.8rem;
  color: #fefcf7;
  text-transform: capitalize;
}

.about__info__words {
  font-size: 1.6rem;
  line-height: 2.6rem;
  color: #fefcf7;
  font-weight: 400;
  opacity: 80%;
  letter-spacing: 1px;
}

.about__info__words {
  padding-top: 2.4rem;
}

@media (max-width: 700px) {
  .about {
    background-image: url(../images/about/tablet/image-hero-whitecup.jpg);
  }
  .about__info__title {
    font-size: 4.8rem;
    line-height: 4.8rem;
  }
}
@media screen and (max-width: 520px) {
  .about {
    text-align: center;
    background-image: url(../images/about/tablet/image-hero-whitecup.jpg);
    padding: 10rem 2.4rem;
  }
  .about__info__title {
    font-size: 4rem;
    line-height: 4rem;
  }
  .btn-status {
    align-self: self-start;
  }
}
.commit-our {
  margin-left: 8.5rem;
  margin-right: 8.5rem;
  margin-top: 16.5rem;
  display: flex;
  justify-content: center;
  gap: 12.5rem;
  align-items: center;
  margin-bottom: 26rem;
}

.commit-our__image img {
  border-radius: 8px;
}

.commit-our__info {
  max-width: 54rem;
  width: 100%;
}

.commit-our__info__title {
  font-size: 4rem;
  line-height: 4.8rem;
  color: #333d4b;
}

.commit-our__info__word {
  margin-top: 3.2rem;
  font-size: 1.6rem;
  line-height: 2.6rem;
  color: #333d4b;
  opacity: 80%;
}

@media screen and (max-width: 970px) {
  .commit-our {
    gap: 6.9rem;
  }
  .commit-our__image img {
    width: 281px;
    height: 470px;
  }
  .commit-our__info {
    max-width: 33.9rem;
  }
  .commit-our__info__title {
    font-size: 3.2rem;
  }
  .commit-our__info__word {
    font-size: 15px;
    line-height: 26px;
  }
}
@media screen and (max-width: 750px) {
  .commit-our {
    flex-direction: column;
    text-align: center;
  }
  .commit-our__image img {
    display: block;
    width: 320px;
    height: 400px;
  }
}
.quality {
  color: #fefcf7;
}

.quality-main {
  background-image: url(./../../images/about/desktop/bg-quality.png);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-size: cover;
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

.quality-main__info {
  padding-top: 8.8rem;
  padding-left: 8.5rem;
  max-width: 60rem;
  width: 100%;
}

.quality-main__title {
  font-size: 4rem;
  line-height: 4.8rem;
  margin-bottom: 3.2rem;
}

.quality-main__word {
  font-size: 1.6rem;
  line-height: 2.6rem;
  opacity: 80%;
}

.quality-main__image {
  margin-top: -8.8rem;
  padding-right: 8.5rem;
  padding-bottom: 8.8rem;
}
.quality-main__image img {
  border-radius: 8px;
}

.quality-main__tablet-img {
  display: none;
}

.quality-main__mobile-img {
  display: none;
}

@media screen and (max-width: 1025px) {
  .quality-main {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .quality-main__image {
    display: none;
  }
  .quality-main__tablet-img {
    margin-top: -16rem;
    padding-left: 2.4rem;
    padding-right: 2.4rem;
    display: block;
  }
  .quality-main__tablet-img img {
    border-radius: 8px;
  }
  .quality-main__info {
    padding: 6.4rem 2.4rem;
  }
  .quality-main__mobile-img {
    display: none;
  }
}
@media screen and (max-width: 650px) {
  .quality-main__tablet-img {
    display: none;
  }
  .quality-main__mobile-img {
    display: block;
    margin-top: -7.8rem;
    padding-left: 2.4rem;
    padding-right: 2.4rem;
  }
  .quality-main__mobile-img img {
    border-radius: 8px;
  }
  .quality-main__info {
    padding: 6.4rem 2.4rem;
  }
  .quality-main__title {
    font-size: 2.8rem;
    line-height: 2.8rem;
  }
  .quality-main__word {
    font-size: 1.5rem;
    line-height: 2.5rem;
  }
}
.headquarters-our {
  padding: 16.8rem 8.5rem;
}

.headquarters-our__title {
  font-size: 2.4rem;
  line-height: 3.2rem;
  color: #83888f;
}

.headquarters-our__box {
  margin-top: 7.2rem;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.headquarters-our__box__item {
  max-width: 28.5rem;
  width: 100%;
}

.headquarters-our__box__item__name {
  font-size: 3.2rem;
  line-height: 3.6rem;
  color: #333d4b;
  margin-top: 4.6rem;
  margin-bottom: 2.4rem;
}

.headquarters-our__box__item__address {
  display: flex;
  flex-direction: column;
  font-size: 1.6rem;
  line-height: 2.6rem;
  color: #83888f;
}

.headquarters-our__box__item__tel {
  font-size: 1.6rem;
  line-height: 2.6rem;
  color: #83888f;
  font-family: "Barlow";
}

@media screen and (max-width: 975px) {
  .headquarters-our__box__item__name {
    font-size: 2.4rem;
    line-height: 3.2rem;
  }
}
@media screen and (max-width: 560px) {
  .headquarters-our {
    padding: 12rem 2.4rem;
    text-align: center;
  }
  .headquarters-our__box {
    flex-direction: column;
    align-items: center;
    gap: 8rem;
  }
  .headquarters-our__box__item img {
    margin-left: auto;
    margin-right: auto;
  }
  .headquarters-our__box__item__name {
    font-size: 2.8rem;
    line-height: 3.6rem;
  }
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  height: 100%;
}

a {
  display: inline-block;
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

img {
  display: flex;
  -o-object-fit: cover;
     object-fit: cover;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  font-family: "Barlow";
}

main {
  flex-grow: 1;
}

h1 {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Fraunces";
  font-weight: 900;
}

.container {
  width: 100%;
  max-width: 1380px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 5rem;
  padding-right: 5rem;
}

.hero {
  background-image: url(../images/home/desktop/image-hero-coffeepress.jpg);
  background-position: center;
  background-size: cover;
  padding: 11.7rem 0 11.7rem 8.5rem;
  border-radius: 15px;
}

.hero__info {
  max-width: 49.3rem;
  width: 100%;
}

.hero__info__title {
  font-size: 7.2rem;
  line-height: 7.2rem;
  color: #fefcf7;
}

.hero__info__words {
  font-size: 1.6rem;
  line-height: 2.6rem;
  color: #fefcf7;
  font-weight: 400;
  opacity: 80%;
  padding: 3.2rem 0 5.6rem 0;
  letter-spacing: 1px;
}

.btn-status {
  padding-left: 3.1rem;
  padding-right: 3.1rem;
}

@media (max-width: 700px) {
  .hero {
    background-image: url(../images/home/tablet/image-hero-coffeepress.jpg);
    padding: 10.4rem 5.8rem;
  }
  .hero__info__title {
    font-size: 4.8rem;
    line-height: 4.8rem;
  }
  .hero__info {
    max-width: 39.8rem;
    width: 100%;
  }
}
@media screen and (max-width: 520px) {
  .hero {
    text-align: center;
    background-image: url(../images/home/mobile/image-hero-coffeepress.jpg);
    padding: 10rem 2.4rem;
  }
  .hero__info__title {
    font-size: 4rem;
    line-height: 4rem;
  }
  .hero__info__words {
    padding: 2.4rem 0 3.9rem 0;
  }
  .btn-status {
    align-self: self-start;
  }
}
.collection {
  padding: 13.6rem 8.4rem 20rem 8.4rem;
  background-image: url(../images/home/desktop/our.svg);
  background-repeat: no-repeat;
  background-position: 90px 0;
}

.collection__box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
}

.collection__box__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.div {
  max-width: 25.5rem;
}

.collection__box__item__title {
  font-size: 2.4rem;
  line-height: 3.2rem;
  color: #333d4b;
  padding-top: 7.15rem;
  padding-bottom: 2.4rem;
}

.collection__box__item__word {
  font-size: 1.6rem;
  line-height: 2.6rem;
  color: #83888f;
  font-weight: 400;
}

@media screen and (max-width: 700px) {
  .collection__box {
    flex-wrap: nowrap;
    flex-direction: column;
  }
  .collection__box__item {
    flex-direction: row;
    align-items: center;
  }
  .div {
    max-width: 28.2rem;
    width: 100%;
  }
  .collection {
    background-size: 650px;
  }
}
@media screen and (max-width: 600px) {
  .collection__box__item {
    flex-direction: column;
  }
  .collection {
    background-size: 550px;
  }
}
.why__box__item__logo {
  margin: 0 auto;
}

.box__item__info {
  max-width: 25.5rem;
  width: 100%;
  text-align: center;
}

.box__item__info__title {
  font-size: 2.4rem;
  line-height: 3.2rem;
  color: #fefcf7;
  padding-top: 5.6rem;
  padding-bottom: 2.4rem;
}

.box__item__info__word {
  font-size: 1.6rem;
  line-height: 2.6rem;
  color: #fefcf7;
  font-weight: 400;
  opacity: 80%;
}

.steps {
  max-width: 1045px;
  width: 69%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 2px;
  background-color: #fdd6ba;
}
.steps span {
  display: inline-block;
  width: 31px;
  height: 31px;
  background-color: #fff;
  border: 2px solid #0e8784;
  border-radius: 50%;
}

.works {
  padding-top: 40rem;
  padding-right: 20rem;
  padding-bottom: 20rem;
}

.works__head {
  padding-bottom: 8rem;
  font-size: 2.4rem;
  line-height: 3.2rem;
  color: #83888f;
}

.works__box__list {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.works__box__item {
  padding-top: 8.25rem;
  max-width: 285px;
  width: 100%;
}

.numb {
  font-size: 72px;
  line-height: 72px;
  color: #fdd6ba;
  font-weight: 900;
  font-family: "Fraunces";
}

.works__box__item__title {
  font-size: 3.2rem;
  line-height: 3.6rem;
  color: #333d4b;
  max-width: 25rem;
  padding-top: 3.8rem;
  padding-bottom: 4.2rem;
}

.works__box__item__word {
  font-size: 1.6rem;
  line-height: 2.6rem;
  color: #333d4b;
  font-weight: 400;
  opacity: 80%;
  padding-bottom: 6.4rem;
}

@media screen and (max-width: 750px) {
  .steps {
    display: none;
  }
  .works__box__list {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .works {
    padding: 12rem 2.4rem;
    text-align: center;
  }
  .works__box__item__title {
    max-width: 100%;
  }
  .works__box__item {
    padding-top: 0;
    max-width: 32.7rem;
  }
}
@media screen and (max-width: 400px) {
  .works__box__item__title {
    font-size: 2.8rem;
  }
  .works__box__item__word {
    font-size: 1.5rem;
  }
}
.plan__info {
  max-width: 44.5rem;
  width: 100%;
}

.plan__info__title {
  font-size: 4rem;
  line-height: 4.8rem;
  color: #fefcf7;
  text-transform: capitalize;
}

.plan__info__words {
  font-size: 1.6rem;
  line-height: 2.6rem;
  color: #fefcf7;
  font-weight: 400;
  opacity: 80%;
  letter-spacing: 1px;
}

.plan__info__words {
  padding-top: 3.2rem;
}

.plan {
  background-image: url(../images/plan/desktop/image-hero-blackcup.jpg);
  background-position: center;
  background-size: cover;
  padding: 13.4rem 0 13.4rem 8.5rem;
  border-radius: 15px;
}

@media (max-width: 700px) {
  .plan {
    background-image: url(../images/plan/tablet/image-hero-blackcup.jpg);
  }
  .plan__info__title {
    font-size: 4.8rem;
    line-height: 4.8rem;
  }
}
@media screen and (max-width: 520px) {
  .plan {
    text-align: center;
    background-image: url(../images/plan/mobile/image-hero-blackcup.jpg);
    padding: 10rem 2.4rem;
  }
  .plan__info__title {
    font-size: 4rem;
    line-height: 4rem;
  }
  .btn-status {
    align-self: self-start;
  }
}/*# sourceMappingURL=main.css.map */