@import "./base/typography";
@import "./abstracts/mixin";
@import "./abstracts/variables";
@import "./components/buttons";
@import "./layout/footer";
@import "./layout/header";
@import "./pages/about";
@import "./vendors/normalize";
@import "./base/base";

.hero {
  background-image: url(../images/home/desktop/image-hero-coffeepress.jpg);
  background-position: center;
  background-size: cover;
  padding: 11.7rem 0 11.7rem 8.5rem;
  border-radius: 15px;
}

.hero__info {
  max-width: 49.3rem;
  width: 100%;
}
.hero__info__title {
  font-size: $h1-fs;
  line-height: $h1-ln;
  color: $light-cream;
}
.hero__info__words {
  font-size: $p-fs;
  line-height: $p-ln;
  color: $light-cream;
  font-weight: 400;
  opacity: 80%;
  padding: 3.2rem 0 5.6rem 0;
  letter-spacing: 1px;
}
.btn-status {
  padding-left: 3.1rem;
  padding-right: 3.1rem;
}
@media (max-width: 700px) {
  .hero {
    background-image: url(../images/home/tablet/image-hero-coffeepress.jpg);
  }
  .hero__info__title {
    font-size: 4.8rem;
    line-height: $h2-ln;
  }
  .hero__info {
    max-width: 39.8rem;
    width: 100%;
  }
}
@media screen and (max-width: 520px) {
  .hero {
    text-align: center;
    background-image: url(../images/home/mobile/image-hero-coffeepress.jpg);
    padding: 10rem 2.4rem;
  }
  .hero__info__title {
    font-size: 4rem;
    line-height: 4rem;
  }
  .btn-status {
    align-self: self-start;
  }
}
// about uchun
.about {
  background-image: url(../images/about/desktop/image-hero-whitecup.jpg);
  background-position: center;
  background-size: cover;
  padding: 13.7rem 0 13.7rem 8.5rem;
  border-radius: 15px;
}

.about__info,
.plan__info {
  max-width: 44.5rem;
  width: 100%;
}
.about__info__title,
.plan__info__title {
  font-size: $h2-fs;
  line-height: $h2-ln;
  color: $light-cream;
  text-transform: capitalize;
}
.about__info__words,
.plan__info__words {
  font-size: $p-fs;
  line-height: $p-ln;
  color: $light-cream;
  font-weight: 400;
  opacity: 80%;

  letter-spacing: 1px;
}
.about__info__words {
  padding-top: 2.4rem;
}
.plan__info__words {
  padding-top: 3.2rem;
}
.plan {
  background-image: url(../images/plan/desktop/image-hero-blackcup.jpg);
  background-position: center;
  background-size: cover;
  padding: 13.4rem 0 13.4rem 8.5rem;
  border-radius: 15px;
}
@media (max-width: 700px) {
  .about {
    background-image: url(../images/about/tablet/image-hero-whitecup.jpg);
  }
  .about__info__title {
    font-size: 4.8rem;
    line-height: $h2-ln;
  }
}
@media screen and (max-width: 520px) {
  .about {
    text-align: center;
    background-image: url(../images/about/tablet/image-hero-whitecup.jpg);
    padding: 10rem 2.4rem;
  }
  .about__info__title {
    font-size: 4rem;
    line-height: 4rem;
  }
  .btn-status {
    align-self: self-start;
  }
}
@media (max-width: 700px) {
  .plan {
    background-image: url(../images/plan/tablet/image-hero-blackcup.jpg);
  }
  .plan__info__title {
    font-size: 4.8rem;
    line-height: $h2-ln;
  }
}
@media screen and (max-width: 520px) {
  .plan {
    text-align: center;
    background-image: url(../images/plan/mobile/image-hero-blackcup.jpg);
    padding: 10rem 2.4rem;
  }
  .plan__info__title {
    font-size: 4rem;
    line-height: 4rem;
  }
  .btn-status {
    align-self: self-start;
  }
}
// SECTION____1
.collection {
  padding: 13.6rem 8.4rem 20rem 8.4rem;
  background-image: url(../images/home/desktop/our.svg);
  background-repeat: no-repeat;
  background-position: 90px 0;
}

.collection__box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
}
.collection__box__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.div {
  max-width: 25.5rem;
}
.collection__box__item__title {
  font-size: $h4-fs;
  line-height: $h4-ln;
  color: $dark-grey;
  padding-top: 7.15rem;
  padding-bottom: 2.4rem;
}
.collection__box__item__word {
  font-size: $p-fs;
  line-height: $p-ln;
  color: $grey;
  font-weight: 400;
}
// tablet uchun section-1
@media screen and (max-width: 700px) {
  .collection__box {
    flex-wrap: nowrap;
    flex-direction: column;
  }
  .collection__box__item {
    flex-direction: row;
    align-items: center;
  }
  .collection__box__item__title {
  }
  .div {
    max-width: 28.2rem;
    width: 100%;
  }
  .collection {
    background-size: 650px;
  }
}
// mobile uchun
@media screen and (max-width: 600px) {
  .collection__box__item {
    flex-direction: column;
  }
  .collection {
    background-size: 550px;
  }
}
.why {
  background-color: #2c343e;
  height: 577px;
  border-radius: 20px;
  padding: 0 85px 0 85px;
  border-radius: 7px;
}

.why__info {
  //   display: flex;
  //   align-items: center;
  //   flex-direction: column;
  //   text-align: center;
  //   max-width: 54rem;
  //   padding: 10rem 0 8.6rem 0;
  //   width: 100%;
  text-align: center;
  margin: 0 auto;
  max-width: 540px;
  padding: 100px 0 86px 0;
}
.why__info__title {
  font-size: $h2-fs;
  line-height: $h2-ln;
  color: $light-cream;
}
.why__info__word {
  font-size: $p-fs;
  line-height: $p-ln;
  color: $light-cream;
  font-weight: 400;
  opacity: 80%;
  padding-top: 3.2rem;
}
.why__box {
  //   display: flex;
  //   justify-content: space-between;
  //   gap: 3rem;
  //   align-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 30px;
}
.why__box__item {
  //   padding: 72px 48px 72px 48px;
  //   border-radius: 6px;
  //   background-color: $dark-cyan;
  //   display: flex;
  //   flex-direction: column;
  //   align-items: center;
  //   justify-content: center;
  //   margin-bottom: -40rem;
  //   max-width: 25rem;
  //   max-height: 38.2rem;
  background-color: #0e8784;
  max-height: 382px;
  align-items: center;
  padding: 72px 48px 48px 47px;
  text-align: center;
  border-radius: 10px;
}
.why__box__item__logo {
  margin: 0 auto;
}
.box__item__info {
  max-width: 25.5rem;
  width: 100%;
  text-align: center;
}
.box__item__info__title {
  font-size: $h4-fs;
  line-height: $h4-ln;
  color: $light-cream;
  padding-top: 5.6rem;
  padding-bottom: 2.4rem;
}
.box__item__info__word {
  font-size: $p-fs;
  line-height: $p-ln;
  color: $light-cream;
  font-weight: 400;
  opacity: 80%;
}
// section-why-responsive

@media screen and (max-width: 1140px) {
  .why__box {
    flex-direction: column;
    row-gap: 2.4rem;
  }
  .why__box__item {
    display: flex;
    justify-content: space-between;
    max-width: 57.3rem;
    padding: 4.1rem 4.8rem;
    width: 100%;
    gap: 5rem;
  }
  .box__item__info {
    text-align: left;
    max-width: 340px;
    width: 100%;
  }
  .why__box__item__logo {
    width: 72px;
    height: 70px;
    margin: 0;
  }
  .why {
    margin-bottom: 70rem;
  }
}

// section-how-it-works
.steps {
  width: 760px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 2px;
  background-color: #fdd6ba;

  span {
    display: inline-block;
    width: 31px;
    height: 31px;
    background-color: #fff;
    border: 2px solid $dark-cyan;
    border-radius: 50%;
  }
}
.works {
  margin-top: 40rem;
  padding-right: 20rem;
  padding-bottom: 20rem;
}

.works__head {
  padding-bottom: 8rem;
  font-size: $h4-fs;
  line-height: $h4-ln;
  color: $grey;
}

.works__box {
  display: flex;
  justify-content: space-between;
}
.works__box__item {
  padding-top: 8.25rem;
  max-width: 285px;
  width: 100%;
}
.numb {
  font-size: 72px;
  line-height: 72px;
  color: #fdd6ba;
  font-weight: 900;
  font-family: "Fraunces";
}
.works__box__item__title {
  font-size: $h3-fs;
  line-height: $h3-ln;
  color: #333d4b;
  max-width: 25rem;
  padding-top: 3.8rem;
  padding-bottom: 4.2rem;
}

.works__box__item__word {
  font-size: $p-fs;
  line-height: $p-ln;
  color: #333d4b;
  font-weight: 400;
  opacity: 80%;
  padding-bottom: 6.4rem;
}
