.hero {
  background-image: url(../images/home/desktop/image-hero-coffeepress.jpg);
  background-position: center;
  background-size: cover;
  padding: 11.7rem 0 11.7rem 8.5rem;
  border-radius: 15px;
}

.hero__info {
  max-width: 49.3rem;
  width: 100%;
}
.hero__info__title {
  font-size: $h1-fs;
  line-height: $h1-ln;
  color: $light-cream;
}
.hero__info__words {
  font-size: $p-fs;
  line-height: $p-ln;
  color: $light-cream;
  font-weight: 400;
  opacity: 80%;
  padding: 3.2rem 0 5.6rem 0;
  letter-spacing: 1px;
}
.btn-status {
  padding-left: 3.1rem;
  padding-right: 3.1rem;
}
@media (max-width: 700px) {
  .hero {
    background-image: url(../images/home/tablet/image-hero-coffeepress.jpg);
    padding: 10.4rem 5.8rem;
  }
  .hero__info__title {
    font-size: 4.8rem;
    line-height: $h2-ln;
  }
  .hero__info {
    max-width: 39.8rem;
    width: 100%;
  }
}
@media screen and (max-width: 520px) {
  .hero {
    text-align: center;
    background-image: url(../images/home/mobile/image-hero-coffeepress.jpg);
    padding: 10rem 2.4rem;
  }
  .hero__info__title {
    font-size: 4rem;
    line-height: 4rem;
  }
  .hero__info__words {
    padding: 2.4rem 0 3.9rem 0;
  }
  .btn-status {
    align-self: self-start;
  }
}

// SECTION____1
.collection {
  padding: 13.6rem 8.4rem 20rem 8.4rem;
  background-image: url(../images/home/desktop/our.svg);
  background-repeat: no-repeat;
  background-position: 90px 0;
}

.collection__box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
}
.collection__box__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.div {
  max-width: 25.5rem;
}
.collection__box__item__title {
  font-size: $h4-fs;
  line-height: $h4-ln;
  color: $dark-grey;
  padding-top: 7.15rem;
  padding-bottom: 2.4rem;
}
.collection__box__item__word {
  font-size: $p-fs;
  line-height: $p-ln;
  color: $grey;
  font-weight: 400;
}
// tablet uchun section-1
@media screen and (max-width: 700px) {
  .collection__box {
    flex-wrap: nowrap;
    flex-direction: column;
  }
  .collection__box__item {
    flex-direction: row;
    align-items: center;
  }
  .collection__box__item__title {
  }
  .div {
    max-width: 28.2rem;
    width: 100%;
  }
  .collection {
    background-size: 650px;
  }
}
// mobile uchun
@media screen and (max-width: 600px) {
  .collection__box__item {
    flex-direction: column;
  }
  .collection {
    background-size: 550px;
  }
}
// why-choose us section

.why {
  color: $light-cream;
  background-image: url(../../images/plan/desktop/bg-steps.png);
  background-size: cover;
  background-position: center;
  background-color: $dark-grey;
  border-radius: 10px;
  padding: 10rem 8.5rem 0 8.5rem;
  // text-align: center;
}
.why__info {
  max-width: 54rem;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.why__info__title {
  font-size: $h2-fs;
  line-height: $h2-ln;
  margin-bottom: 3.2rem;
}
.why__info__word {
  font-size: $p-fs;
  line-height: $p-ln;
  margin-bottom: 8.6rem;
  opacity: 80%;
}
.why__box {
  // display: grid;
  // grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  display: flex;
  justify-content: center;
  gap: 3rem;
  flex-wrap: wrap;
  row-gap: 180px;
}
.why__box__item {
  background-color: $dark-cyan;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 7.2rem 4.8rem;
  margin-bottom: -15rem;
}

.why__box__item__logo_fix {
  object-fit: contain;
}
.box__item__info {
  max-width: 25.5rem;
  width: 100%;
  text-align: center;
}
.box__item__info__title {
  font-size: $h4-fs;
  line-height: $h4-ln;

  padding-top: 5.6rem;
  padding-bottom: 2.4rem;
}
.box__item__info__word {
  font-size: $p-fs;
  line-height: $p-ln;
  font-weight: 400;
  opacity: 80%;
}
// section-why-responsive
@media screen and (max-width: 910px) {
  .why__box__item {
    max-width: 60.9rem;
    flex-direction: row;
    gap: 5rem;
  }
  .box__item__info {
    max-width: 40rem;
    justify-content: center;
  }
  .box__item__info__title {
    text-align: left;
  }
  .box__item__info__word {
    text-align: left;
  }
}
@media screen and (max-width: 550px) {
  .why__box__item {
    flex-direction: column;
    gap: 0;
  }
  .box__item__info__title {
    text-align: center;
  }
  .box__item__info__word {
    text-align: center;
  }
}
// section-how-it-works
.steps {
  max-width: 1045px;
  width: 69%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 2px;
  background-color: #fdd6ba;

  span {
    display: inline-block;
    width: 31px;
    height: 31px;
    background-color: #fff;
    border: 2px solid $dark-cyan;
    border-radius: 50%;
  }
}
.works {
  padding-top: 40rem;
  padding-right: 20rem;
  padding-bottom: 20rem;
}

.works__head {
  padding-bottom: 8rem;
  font-size: $h4-fs;
  line-height: $h4-ln;
  color: $grey;
}

.works__box__list {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.works__box__item {
  padding-top: 8.25rem;
  max-width: 285px;
  width: 100%;
}
.numb {
  font-size: 72px;
  line-height: 72px;
  color: #fdd6ba;
  font-weight: 900;
  font-family: "Fraunces";
}
.works__box__item__title {
  font-size: $h3-fs;
  line-height: $h3-ln;
  color: #333d4b;
  max-width: 25rem;
  padding-top: 3.8rem;
  padding-bottom: 4.2rem;
}

.works__box__item__word {
  font-size: $p-fs;
  line-height: $p-ln;
  color: #333d4b;
  font-weight: 400;
  opacity: 80%;
  padding-bottom: 6.4rem;
}
@media screen and (max-width: 750px) {
  .steps {
    display: none;
  }
  .works__box__list {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .works {
    padding: 25rem 2.4rem;
    text-align: center;
  }
  .works__box__item__title {
    max-width: 100%;
  }
  .works__box__item {
    padding-top: 0;
    max-width: 32.7rem;
  }
}
@media screen and (max-width: 400px) {
  .works__box__item__title {
    font-size: 2.8rem;
  }
  .works__box__item__word {
    font-size: 1.5rem;
  }
}
