.plan__info {
  max-width: 44.5rem;
  width: 100%;
}
.plan__info__title {
  font-size: 4rem;
  line-height: $h2-ln;
  color: $light-cream;
  text-transform: capitalize;
}
.plan__info__words {
  font-size: $p-fs;
  line-height: $p-ln;
  color: $light-cream;
  font-weight: 400;
  opacity: 80%;

  letter-spacing: 1px;
}
.plan__info__words {
  padding-top: 3.2rem;
}
.plan {
  margin-bottom: 16.8rem;
  background-image: url(../images/plan/desktop/image-hero-blackcup.jpg);
  background-position: center;
  background-size: cover;
  padding: 13.4rem 0 13.4rem 8.5rem;
  border-radius: 15px;
}
@media (max-width: 700px) {
  .plan {
    background-image: url(../images/plan/tablet/image-hero-blackcup.jpg);
  }
  .plan__info__title {
    font-size: 4.8rem;
    line-height: $h2-ln;
  }
}
@media screen and (max-width: 520px) {
  .plan {
    text-align: center;
    background-image: url(../images/plan/mobile/image-hero-blackcup.jpg);
    padding: 10rem 2.4rem;
  }
  .plan__info__title {
    font-size: 4rem;
    line-height: 4rem;
  }
  .btn-status {
    align-self: self-start;
  }
}

// section how it work
.works_dark {
  padding-right: 20rem;
  border-radius: 10px;
  background-color: $dark-grey;
  background-repeat: no-repeat;
  padding-top: 10rem;
  padding-bottom: 10rem;
}
.works__box__item__title_light {
  color: $light-cream;
}
.works__box__item__word_light {
  color: $light-cream;
}
@media screen and (max-width: 750px) {
  .works__box__item__title_light {
    text-align: center;
  }
  .works__box__item__word_light {
    color: $light-cream;
  }
  .works__head {
    text-align: center;
  }
  .works_dark {
    padding: 8rem 2.4rem;
  }
  .works__box__item {
    text-align: center;
  }
}
// ORDER
.oorder {
  margin-top: 16rem;
  margin-bottom: 16rem;
}
.order-main {
  display: flex;
  justify-content: space-between;
  gap: 5rem;
}
.container {
}
.order-main__table {
  display: flex;
  gap: 2.8rem;
}

.table__number {
  display: flex;
  flex-direction: column;
  justify-self: center;
  span {
    border-bottom: 1px solid gray;
    font-size: 2.4rem;
    color: $grey;
    line-height: 3.2rem;
    font-family: "Fraunces";
    font-weight: 900;
    padding: 1.5rem 2.4rem;
    &:hover {
      color: $dark-grey;
    }
  }
}

.table__type__title {
  border-bottom: 1px solid gray;
  font-size: $h3-fs;
  line-height: $h3-ln;
  color: $grey;
  padding-bottom: 1.6rem;
  padding-top: 1rem;
  cursor: pointer;
  &:hover {
    color: $dark-grey;
  }
}

.choose__category__title {
  font-size: $h2-fs;
  line-height: $h2-ln;
  color: $grey;
  padding-bottom: 5.6rem;
}
.choose__category__box {
  display: flex;
  justify-content: space-between;
  gap: 2.3rem;
  align-items: center;
  color: $dark-grey;
  padding-bottom: 8.8rem;
}
.choose__category__box__item {
  cursor: pointer;
  max-height: 29rem;
  border-radius: 8px;
  max-width: 22.8rem;
  width: 100%;
  background-color: #f4f1eb;
  padding-left: 2.8rem;
  transition: 0.3s;
  &:hover {
    background-color: $dark-cyan;
    color: $light-cream;
  }
}

.category-item__title {
  font-size: $h4-fs;
  line-height: $h4-ln;

  padding: 3.2rem 0 2.4rem 0;
  &:hover {
    color: $light-cream;
  }
}
.category-item__word {
  font-size: $p-fs;
  line-height: $p-ln;
  padding-right: 2.8rem;
  opacity: 80%;
  padding-bottom: 8.4rem;
  &:hover {
    color: $light-cream;
  }
}
.choose__info {
  padding: 2.7rem 6.4rem;
  border-radius: 8px;
  max-width: 73rem;
  width: 100%;
  background-image: url(../../images/plan/desktop/bg-steps.png);
  margin-bottom: 4rem;
}
.choose__info__title {
  font-size: 1.6rem;
  line-height: 2.6rem;
  color: $grey;
  text-transform: uppercase;
  font-weight: 400;
}
.choose__info__word {
  margin-top: 8px;
  font-size: 2.4rem;
  line-height: 4rem;
  color: $light-cream;
  font-family: "Fraunces";
  font-weight: 900;
  b {
    color: $dark-cyan;
  }
}
@media screen and (max-width: 900px) {
  .table {
    display: none;
  }
  .order-main {
    justify-content: center;
  }
  .div-btn {
    display: flex;
    justify-content: center;
  }
}
@media screen and (max-width: 500px) {
  .choose__category__box {
    flex-direction: column;
  }
  .choose__category__title {
    font-size: 2.4rem;
    line-height: 2.8rem;
    text-align: center;
  }
  .choose__category__box__item {
    max-width: 400px;
  }
}
